body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 50px;
}

#exibicao-palavra{
    font-size: 3em;
    margin-bottom:30px}

#letras-chutadas{
    font-size: 2rem;
    color: rgb(28, 63, 170);
    font-weight: bold;
    margin-bottom: 20px;
} 

#mensagem{
    display: none;
}

#botao-reiniciar{
    display: none;
    margin: auto;
    background-color: rgb(49, 91, 77);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#botao-reiniciar:hover{
    background-color: rgb(77, 182, 182);
}